<h3>历次调查一览表</h3>
<p>这里显示的是我们历次调查的情况</p>

<% if !@surveys.blank? %>
  <% for survey in @surveys %>
    <div class="item">
		<h3 class="inline"><%= link_to survey.title,survey_path(survey) %></h3><i> 创建于<%= survey.created_at.to_date %></i>
		<div class="btn-group">
			<%= link_to edit_survey_path(survey),class: "btn" do %>
			<i class="icon-edit"></i>修改
			<% end %>
		</div>
    </div>
  <% end %>
<% else %>
  <div class="empty">
  	暂时没有调查发生<p/>
	<%= link_to new_survey_path, class: "btn btn-primary" do %>
		<i class="icon-plus icon-white"></i>添加新调查
	<% end %>
  </div>
<% end %>
