@import "twitter/bootstrap/bootstrap";

h1{
	color:black;
}

.underline{
	border-bottom:1px solid #e4e4e4;
}

.topline{
	border-top:1px solid #e4e4e4;
}

.margin-middle{
	margin:10px;
}

.padding-middle{
	padding:10px;
}

.empty{
	color:#e4e4e4;
	font-size:20pt;
	line-height:20pt;
	text-align:center;
}

.item{
	background-color:#eaeaea;
	.border-radius(6px);
	padding:10px;
	margin:10px;
}